exceptionWholeWords.csv
getReviewsFromWebOrig.py
predictions
taggedFiles
exceptionWords.csv
keywordsStartSingle.csv
processReviewsActionWordsOrig.py
filenames.csv
measurement.csv
foodwords
predictActionOrig.py            
reviews
